# Database User
DB_USER=<%= connectionUsername %>
# Database User
DB_PASSWORD=<%= connectionPassword %>
# Connection string to your ADB instance
CONNECT_STRING=<%= connectionString %>
# Oracle Wallet password
WALLET_PASSWORD=<%= walletPassword %>
# Path to your Oracle Wallet directory
WALLET_LOCATION=./server/utils/db/wallet

# Optional HTTP Proxy Settings
# HTTPS_PROXY=
# HTTPS_PROXY_PORT=
