# Copyright (c) 2024, Oracle and/or its affiliates.
# All rights reserved
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl/

# ORDS base URL for your Base Database or ORDS instance.
# Replace <VM-PUBLIC-IP>, <VM-PORT>, and <POOL_NAME> with your actual values.
# Keep the trailing slash.
BD_ORDS_URL=http://<VM-PUBLIC-IP>:<VM-PORT>/ords/<POOL_NAME>

# Oracle Database connect string used by migrate/seed/drop scripts.
# Examples:
#   host:1521/service_name
#   myadb_high (from tnsnames.ora when TNS_ADMIN is configured)
BD_CONNECT_STRING=<HOST>:<PORT>/<SERVICE_NAME>

# Oracle Instant Client directory for Thick mode in node-oracledb.
ORACLE_CLIENT_LIB_DIR=<path>/instantclient_23_26

# OCI IAM JWT credentials, used by ORDS to validate request to protected endpoints.
JWT_ISSUER=https://identity.oraclecloud.com/
JWT_VERIFICATION_KEY=https://<domain-url>:443/admin/v1/SigningCert/jwk
JWT_AUDIENCE=ords/sample-app/

BD_ADMIN_USER=BD_admin
BD_ADMIN_PASSWORD=

# The name of the schema that will be created to host all of the 
# ORDS Concert App database objects.
SCHEMA_NAME=ORDS_CONCERT_APP
SCHEMA_PASSWORD=

# OCI IAM OIDC application configuration parameters specific to the sample app.
OIDC_RETURN_TO_URL=http://localhost:3000
OIDC_REDIRECT_URI=http://localhost:3000/callback
OIDC_CLIENT_ID=<CLIENT_ID>
OIDC_CLIENT_SECRET=<CLIENT_SECRET>
OIDC_AUTHORIZATION_ENDPOINT=https://<domain-url>:443/oauth2/v1/authorize
OIDC_TOKEN_ENDPOINT=https://<domain-url>:443/oauth2/v1/token
OIDC_USERINFO_ENDPOINT=https://<domain-url>:443/oauth2/v1/userinfo
OIDC_LOGOUT_ENDPOINT=https://<domain-url>:443/oauth2/v1/userlogout
OIDC_AUDIENCE=ords/sample-app/
OIDC_SCOPES=openid,email,profile,ords/sample-app/concert_app_authuser,ords/sample-app/concert_app_admin
